<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
tailwindo --components=true resources/views/test
<div class=" bg-primary bg-secondary bg-success bg-info bg-warning bg-danger bg-light bg-dark bg-white text-primary text-secondary text-success text-info text-warning text-danger text-light text-dark text-white ">Bg</div>
</body></html>
